version: "3"

services:

  app:
    container_name: app
    tty: true
    build:
      dockerfile: ./.docker/php/Dockerfile.dev
    ports:
      - "${APP_PORT}:${APP_PORT}"
    volumes:
      - ./:/var/www/html/app
    working_dir: /var/www/html/app
    extra_hosts:
      - "host.docker.internal:host-gateway"

  # db_test:
  #   tty: true
  #   image: mysql:latest
  #   container_name: db_test
  #   environment:
  #     MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD_TEST}
  #     MYSQL_DATABASE: ${DB_DATABASE_TEST}
  #     MYSQL_USER: ${DB_USER_TEST}
  #     MYSQL_PASSWORD: ${DB_PASSWORD_TEST}
  #     MYSQL_TCP_PORT: ${DB_TCP_PORT_TEST}
  #   ports:
  #     - "${DB_PORT_TEST}:${DB_PORT_TEST}"
  #   volumes:
  #     - ./.docker/db_test:/var/lib/mysql